flows (5).json
[{"id":"289c9748.6613c8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"efd75b2.4a2cfa8","type":"ui_switch","z":"289c9748.6613c8","name":"","label":"LampSwitch","tooltip":"","group":"ed8d901d.870f1","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":170,"y":600,"wires":[["4f54f523.329ddc"]]},{"id":"51f9fed4.4fb23","type":"function","z":"289c9748.6613c8","name":"","func":"msg.payload = \"INSERT INTO temperature (temp) VALUES(\"+msg.payload[0]+\");\";\nmsg.connectName = 'ec2-54-159-107-189.compute-1.amazonaws.com';  // connect name from settings.js\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":660,"y":120,"wires":[["66b28af7.46fc24","6ac3c6b6.15d7e8"]]},{"id":"54893dfa.98b064","type":"debug","z":"289c9748.6613c8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1070,"y":120,"wires":[]},{"id":"ab7a9c63.7f6c","type":"http in","z":"289c9748.6613c8","name":"","url":"/state_lamp","method":"post","upload":false,"swaggerDoc":"","x":180,"y":460,"wires":[["fac7da0.5fc9128","e7f25086.61d3d","5eb9a0ad.76ad6"]]},{"id":"fac7da0.5fc9128","type":"debug","z":"289c9748.6613c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":350,"y":420,"wires":[]},{"id":"e7f25086.61d3d","type":"http response","z":"289c9748.6613c8","name":"response","statusCode":"200","headers":{"sdsd":"sdsdsd"},"x":440,"y":480,"wires":[]},{"id":"18b94d24.300863","type":"modbus-read","z":"289c9748.6613c8","name":"TempRead","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"","dataType":"InputRegister","adr":"0","quantity":"1","rate":"10","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"6ce100c.42d49","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":260,"y":40,"wires":[["b37b02d1.5ff0a"],[]]},{"id":"4f54f523.329ddc","type":"modbus-write","z":"289c9748.6613c8","name":"LempaWrite","showStatusActivities":true,"showErrors":true,"unitid":"1","dataType":"Coil","adr":"32769","quantity":"1","server":"6ce100c.42d49","emptyMsgOnFail":false,"keepMsgProperties":false,"x":330,"y":660,"wires":[[],[]]},{"id":"6ac3c6b6.15d7e8","type":"postgres","z":"289c9748.6613c8","postgresdb":"54f42c89.ab4e74","name":"Database","output":true,"outputs":1,"x":880,"y":120,"wires":[["54893dfa.98b064"]]},{"id":"5eb9a0ad.76ad6","type":"function","z":"289c9748.6613c8","name":"","func":"if(msg.payload.lempa == '0'){\n    msg.payload = false;\n}else{\n    msg.payload = true;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":200,"y":520,"wires":[["efd75b2.4a2cfa8"]]},{"id":"1f857a89.bebcc5","type":"ui_switch","z":"289c9748.6613c8","name":"","label":"TempSwitch","tooltip":"","group":"ed8d901d.870f1","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"button","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":430,"y":120,"wires":[["51f9fed4.4fb23","bf35121d.5e9d1"]]},{"id":"e283fafb.2aa1b8","type":"debug","z":"289c9748.6613c8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":160,"y":120,"wires":[]},{"id":"ca6cf0c5.59d46","type":"http response","z":"289c9748.6613c8","name":"response","statusCode":"200","headers":{},"x":190,"y":240,"wires":[]},{"id":"d1de4ca4.1d55d","type":"http in","z":"289c9748.6613c8","name":"","url":"/state_temp","method":"post","upload":false,"swaggerDoc":"","x":130,"y":180,"wires":[["e283fafb.2aa1b8","ca6cf0c5.59d46","b72e339c.d564"]]},{"id":"b72e339c.d564","type":"function","z":"289c9748.6613c8","name":"","func":"if(msg.payload.temp == '0'){\n    msg.payload = false;\n}else{\n    msg.payload = true;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":310,"y":180,"wires":[["1f857a89.bebcc5"]]},{"id":"bf35121d.5e9d1","type":"modbus-write","z":"289c9748.6613c8","name":"TempWrite","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"Coil","adr":"32768","quantity":"1","server":"6ce100c.42d49","emptyMsgOnFail":true,"keepMsgProperties":true,"x":700,"y":240,"wires":[[],[]]},{"id":"66b28af7.46fc24","type":"debug","z":"289c9748.6613c8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":960,"y":240,"wires":[]},{"id":"b37b02d1.5ff0a","type":"rbe","z":"289c9748.6613c8","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":470,"y":40,"wires":[["51f9fed4.4fb23"]]},{"id":"ed8d901d.870f1","type":"ui_group","z":"","name":"Temp","tab":"8f239e2b.5d882","order":1,"disp":true,"width":"6","collapse":true},{"id":"6ce100c.42d49","type":"modbus-client","z":0,"name":"Servas","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"193.219.33.190","tcpPort":"512","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"54f42c89.ab4e74","type":"postgresdb","z":"","hostname":"ec2-54-159-107-189.compute-1.amazonaws.com","port":"5432","db":"d7euf6omjr5t52","ssl":true},{"id":"8f239e2b.5d882","type":"ui_tab","z":"","name":"Temp","icon":"dashboard","disabled":false,"hidden":false}]