flows (4).json
[{"id":"289c9748.6613c8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"d0e916f0.333898","type":"debug","z":"289c9748.6613c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":870,"y":360,"wires":[]},{"id":"efd75b2.4a2cfa8","type":"ui_switch","z":"289c9748.6613c8","name":"","label":"switch","tooltip":"","group":"ed8d901d.870f1","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":80,"y":400,"wires":[["6b89d61.9dcfa28","4f54f523.329ddc"]]},{"id":"89fd8791.1e51f8","type":"debug","z":"289c9748.6613c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":870,"y":440,"wires":[]},{"id":"d9397389.0dc3a","type":"function","z":"289c9748.6613c8","name":"","func":"msg.payload = \"SELECT temp FROM node_red;\";\nmsg.connectName = 'ec2-54-159-107-189.compute-1.amazonaws.com';  // connect name from settings.js\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":450,"y":360,"wires":[["91034eaf.c3bb8"]]},{"id":"e1104768.df9638","type":"function","z":"289c9748.6613c8","name":"","func":"msg.payload = \"SELECT temp FROM node_red;\";\nmsg.connectName = 'ec2-54-159-107-189.compute-1.amazonaws.com';  // connect name from settings.js\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":450,"y":480,"wires":[["8c494d29.e2c74"]]},{"id":"51f9fed4.4fb23","type":"function","z":"289c9748.6613c8","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":80,"wires":[["6ac3c6b6.15d7e8"]]},{"id":"61fa6da2.c51e84","type":"function","z":"289c9748.6613c8","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":430,"y":160,"wires":[["c2bc3393.487dd"]]},{"id":"54893dfa.98b064","type":"debug","z":"289c9748.6613c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":780,"y":80,"wires":[]},{"id":"6b613b10.dc3cc4","type":"debug","z":"289c9748.6613c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":800,"y":160,"wires":[]},{"id":"ab7a9c63.7f6c","type":"http in","z":"289c9748.6613c8","name":"","url":"/state","method":"get","upload":false,"swaggerDoc":"","x":100,"y":260,"wires":[["fac7da0.5fc9128","e7f25086.61d3d"]]},{"id":"fac7da0.5fc9128","type":"debug","z":"289c9748.6613c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":290,"y":220,"wires":[]},{"id":"e7f25086.61d3d","type":"http response","z":"289c9748.6613c8","name":"response","statusCode":"200","headers":{"sdsd":"sdsdsd"},"x":460,"y":260,"wires":[]},{"id":"18b94d24.300863","type":"modbus-read","z":"289c9748.6613c8","name":"TempRead","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"","dataType":"InputRegister","adr":"0","quantity":"1","rate":"1","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"6ce100c.42d49","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":240,"y":80,"wires":[["51f9fed4.4fb23"],[]]},{"id":"ae53cf3d.3dc6c","type":"modbus-read","z":"289c9748.6613c8","name":"LempaRead","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"","dataType":"InputRegister","adr":"1","quantity":"1","rate":"1","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"6ce100c.42d49","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":230,"y":160,"wires":[["61fa6da2.c51e84"],[]]},{"id":"6b89d61.9dcfa28","type":"modbus-write","z":"289c9748.6613c8","name":"TempWrite","showStatusActivities":true,"showErrors":true,"unitid":"1","dataType":"Coil","adr":"32768","quantity":"1","server":"6ce100c.42d49","emptyMsgOnFail":false,"keepMsgProperties":false,"x":270,"y":360,"wires":[["d9397389.0dc3a"],[]]},{"id":"4f54f523.329ddc","type":"modbus-write","z":"289c9748.6613c8","name":"LempaWrite","showStatusActivities":true,"showErrors":true,"unitid":"1","dataType":"Coil","adr":"32769","quantity":"1","server":"6ce100c.42d49","emptyMsgOnFail":false,"keepMsgProperties":false,"x":270,"y":440,"wires":[["e1104768.df9638"],[]]},{"id":"91034eaf.c3bb8","type":"postgres","z":"289c9748.6613c8","postgresdb":"54f42c89.ab4e74","name":"Database","output":true,"outputs":1,"x":660,"y":340,"wires":[["d0e916f0.333898"]]},{"id":"8c494d29.e2c74","type":"postgres","z":"289c9748.6613c8","postgresdb":"54f42c89.ab4e74","name":"Database","output":true,"outputs":1,"x":660,"y":460,"wires":[["89fd8791.1e51f8"]]},{"id":"6ac3c6b6.15d7e8","type":"postgres","z":"289c9748.6613c8","postgresdb":"54f42c89.ab4e74","name":"Database","output":true,"outputs":1,"x":610,"y":80,"wires":[["54893dfa.98b064"]]},{"id":"c2bc3393.487dd","type":"postgres","z":"289c9748.6613c8","postgresdb":"54f42c89.ab4e74","name":"Database","output":true,"outputs":1,"x":620,"y":160,"wires":[["6b613b10.dc3cc4"]]},{"id":"ed8d901d.870f1","type":"ui_group","z":"","name":"Default","tab":"85a5817c.1b7c5","order":1,"disp":true,"width":"6","collapse":false},{"id":"6ce100c.42d49","type":"modbus-client","z":0,"name":"Servas","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"193.219.33.190","tcpPort":"512","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"54f42c89.ab4e74","type":"postgresdb","z":0,"hostname":"ec2-54-159-107-189.compute-1.amazonaws.com","port":"5432","db":"d7euf6omjr5t52","ssl":true},{"id":"85a5817c.1b7c5","type":"ui_tab","z":"","name":"Demo Tab Name","icon":"dashboard","disabled":false,"hidden":false}]